<launch>

   	<arg name="open_rviz" default="false" />
   	<arg name="open_bag" default="false" />

    <node name="pc_filter" pkg="pc_filter_ros" type="pc_filter" output="screen">
        <!-- <param name="min_limit_x" value="-10" />
        <param name="max_limit_x" value="10" />
        <param name="min_limit_y" value="-10" />
        <param name="max_limit_y" value="10" />
        <param name="min_limit_z" value="-10" />
        <param name="max_limit_z" value="10" /> -->
    <param name="x_min" value="0.6"/>
    <param name="x_max" value="2.0"/>
    <param name="y_min" value="-1.2"/>
    <param name="y_max" value="1.2"/>
    <param name="z_min" value="-5.0"/>
    <param name="z_max" value="5.0"/>
        <param name="reversed_filter" value="False"/>  
        <param name="observed_frame_id" value="os_sensor"/>
        <param name="filtered_frame_id" value="os_filtered" />
        <param name="input_pc_topic" value="/ouster/points" />
        <param name="output_pc_topic" value="/ouster/points/filtered" />
    </node>
    
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
    
	<node if="$(arg open_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find pc_filter_ros)/rviz/pc_view.rviz" />

    <node if="$(arg open_bag)" name="player" pkg="rosbag" type="play" output="screen" args="--clock -l $(find pc_filter_ros)/bag/pointcloud_vlp16_10hz_2022-12-06.bag"/>

</launch>
