<launch>

   	<arg name="open_rviz" default="false" />
   	<arg name="open_bag" default="false" />
    <arg name="x_min" default="-0.5"/>
    <arg name="x_max" default="0.5"/>
    <arg name="y_min" default="0.2"/>
    <arg name="y_max" default="2.5"/>  
    <arg name="z_min" default="-2.5"/>
    <arg name="z_max" default="2.5"/>
    
    <node name="pc_filter" pkg="pc_filter_ros" type="pc_filter" output="screen">
        <param name="x_min" value="$(arg x_min)"/>
        <param name="x_max" value="$(arg x_max)"/>
        <param name="y_min" value="$(arg y_min)"/>
        <param name="y_max" value="$(arg y_max)"/>
        <param name="z_min" value="$(arg z_min)"/>
        <param name="z_max" value="$(arg z_max)"/>
        <param name="reversed_filter" value="False"/>  
        <param name="observed_frame_id" value="os_sensor"/>
        <param name="filtered_frame_id" value="os_filtered" />
        <param name="input_pc_topic" value="/ouster/points" />
        <param name="output_pc_topic" value="/ouster/points/filtered" />
    </node>
    
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
    
	<node if="$(arg open_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find pc_filter_ros)/rviz/pc_view.rviz" />

    <node if="$(arg open_bag)" name="player" pkg="rosbag" type="play" output="screen" args="--clock -l $(find pc_filter_ros)/bag/pointcloud_vlp16_10hz_2022-12-06.bag"/>

</launch>
